@model  List<Order>

    @{
        ViewData["Title"] = "Home Page";
    }

    @*http://mvc6-grid.azurewebsites.net/?page=2
    http://mvc6-grid.azurewebsites.net/Home/Installation*@

    <div class="row">
        <div class="col-md-3">
            @(
                Html.Grid(Model)
                .Build(c =>
                {
                    c.Add(model => model.CustomerName);
                    c.Add(model => model.ShipCountry);
                    c.Add(model => model.ShipCity);
                })
                .Filterable()
                .Sortable()
                .Pageable()

                )
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>
